<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Horse Colic - Cloud Computing Big Task</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Horse Colic Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="float" placeholder="Rectal Temp" name="rectal_temp" required="required" />
      <input type="float" placeholder="Pulse" name="pulse" required="required" />
      <input type="float" placeholder="Respiratory Rate" name="respiratory_rate" required="required" />
      <input type="float" placeholder="Packed Cell Volume" name="packed_cell_volume" required="required" />
      <input type="float" placeholder="Total Protein" name="total_protein" required="required" />
      <input type="float" placeholder="Surgery No" name="surgery_no" />
      <input type="float" placeholder="Surgery Yes" name="surgery_yes" />
      <input type="float" placeholder="Age Adult" name="age_adult"/>
      <input type="float" placeholder="Age Young" name="age_young" />
      <input type="float" placeholder="Abdominal Distention Moderate" name="abdominal_distention_moderate" />
      <input type="float" placeholder="Abdominal Distention None" name="abdominal_distention_none" />
      <input type="float" placeholder="Abdominal Distention Severe" name="abdominal_distention_severe" />
      <input type="float" placeholder="Abdominal Distention Slight" name="abdominal_distention_slight"/>
      <input type="float" placeholder="Peripheral Pulse Increased" name="peripheral_pulse_increased"/>
      <input type="float" placeholder="Peripheral Pulse Normal" name="peripheral_pulse_normal"/>
      <input type="float" placeholder="Peripheral Pulse Reduced" name="peripheral_pulse_reduced"/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>